<!DOCTYPE html>
<html>
   <head>
      <title>{{home_url}}</title>
   </head>
   <body>
      <div class="col-md-10 col-md-offset-1">
         <div class="container container-fluid">
            <h2>
            Destination Change Page 
            <h2>
            <form action="" method="post">
               {{ form1.csrf_token}}
               Enter new destination url:{{form1.new_long_url}}<br>
               <input type="submit" value="Submit"><br>
            </form>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
               {% for message in messages %}
            <h2><a href="{{new_long_url}}">{{message}}</a></h2>
            {% endfor %}
            {% endif %}
            {% endwith %}
         </div>
      </div>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonym$
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="$
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </body>
</html>
